@import "../../assets/styles/variables.scss";
@import "../../assets/styles/layout.scss";
.mainContainer {
  background-color: #1f1f1b;
  color: var(--color-2);
  &_wrap {
    display: flex;
    height: 100vh;
  }
}
